<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>웹소켓으로 MQTT 브로커에 접속</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
        <script src= "./static/mqttio.js" type="text/javascript"></script>
        <script src= "./static/image.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" type="text/javascript"></script>
        <script src="./static/myChart.js" type="text/javascript"></script>
	
      <script>
                window.addEventListener("load", function () {
                // http://224..129:8080/에서 224...의 IP만 끊어내는 코드
                var url = new String(document.location);
                ip = (url.split("//"))[1]; // ip = "224...:8080/"
                ip = (ip.split(":"))[0]; // ip = "224..."
                document.getElementById("broker").value = ip
                });
      </script>
<style>
        #myCanvas {background-color:lightblue}
        .chart-container {
            display: flex;
        }
        canvas {
            margin-right: 10px; /* 여백을 조절할 수 있습니다. */
        }

</style>
   </head>
   <body>
         <h3>Raspberry 제어 및 모니터링</h3>
         <hr>
         <form id="connection-form">
                <b>브로커 IP:</b>
                <input id="broker" type="text" name="broker" value=""><br>
                <b>포트 번호 : 9001</b><br>
                <input type="button" onclick="connect()" value="Connect">
                <input type="button" onclick="disconnect()" value="Disconnect">
         </form>
         <hr>
         <h3>Led 제어(토픽:led)</h3>
        <hr>
        <form id="LED-control-form">
                <label>on <input type="radio" name="led" value="1" onchange="publish('led', this.value)"></label>
                <label>off <input type="radio" name="led" value="0" checked onchange="publish('led', this.value)"><br><br></label>
        </form>
         <hr>
         <h3>초음파 센서를 이용한 거리 측정(토픽:ultrasonic)</h3>
        <hr>
        <form id="subscribe-form">
                <input type="button" onclick="subscribe('ultrasonic')" value="여유공간 시작">
                <input type="button" onclick="unsubscribe('ultrasonic')" value="여유공간 중단">
        	  <input type="button" onclick="subscribe('temperature')" value="온도 시작">
                <input type="button" onclick="unsubscribe('temperature')" value="온도 중단">
                <input type="button" onclick="subscribe('humidity')" value="습도 시작">
                <input type="button" onclick="unsubscribe('humidity')" value="습도 중단">
         <input type="button" onclick="subscribe('zodo')" value="측정시작">
         <input type="button" onclick="unsubscribe('zodo')" value="측정중단">
       <hr>	
       <h2>캐리어 내부 상태 확인<h3>
        <input type="button" onclick="startCamera()" value="카메라시작">
        <input type="button" onclick="stopCamera()" value="카메라중지">
        </form>
         <canvas id="myCanvas" width="320" height="240"></canvas>
       <hr>
         <div id="messages"></div>
          <div class="chart-container">
        <canvas id="canvas1" width="600" height="400"></canvas>
        <canvas id="canvas2" width="600" height="400"></canvas>
        <canvas id="canvas3" width="600" height="400"></canvas>
          </div>
       	
   </body>
</html>

